<!doctype html>
<html>
  <head>
    <title>Edit Student</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="dashboard-container">
      <h2>Edit Student</h2>

      <form method="post" class="form-box">
        <label>UID</label>
        <input type="text" value="{{ student.uid }}" disabled />

        <label>Name</label>
        <input type="text" name="name" value="{{ student.name }}" required />

        <label>Email</label>
        <input type="email" name="email" value="{{ student.email }}" required />

        <label>Password</label>
        <input
          type="text"
          name="password"
          value="{{ student.password }}"
          required
        />

        <button type="submit">Update Student</button>
        <a href="{{ url_for('admin_students') }}">Cancel</a>
      </form>
    </div>
  </body>
</html>
