<!DOCTYPE html>
<html>
<head>
    <title>Students Performance</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<!-- HEADER -->
<div class="dashboard-header">
    <h2>Students Performance</h2>
    <a href="/teacher-dashboard">
        <button class="logout-btn">Back</button>
    </a>
</div>

<div class="dashboard-container">

<div class="attendance-table">
    <h3>Performance Overview</h3>

    <table>
        <tr>
            <th>UID</th>
            <th>Name</th>
            <th>Attendance %</th>
            <th>Status</th>
        </tr>

        {% for s in students %}
        <tr>
            <td>{{ s.uid }}</td>
            <td>{{ s.name }}</td>
            <td>{{ s.percentage }}%</td>
            <td>
                {% if s.percentage >= 85 %}
                    <span class="status-badge excellent">Excellent</span>
                {% elif s.percentage >= 70 %}
                    <span class="status-badge good">Good</span>
                {% else %}
                    <span class="status-badge risk">Risk</span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

</div>

</body>
</html>
